<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lantian.smartpermission" >
    <application>
        <provider
            android:authorities="com.lantian.smartpermission.provider"
            android:multiprocess="true"
            android:exported="false"
            android:name=".provider.SmartProvider"/>
    </application>
</manifest>
